numpy
pandas
matplotlib
scipy
scikit-learn
scikit-image
pillow
imageio
pyqt5
opencv-python-headless
rasterio
pyproj
pymap3d
affine
kornia
pyyaml
pyexiftool
huggingface-hub
transformers>=4.57.1
h5py
tqdm
requests
nvidia-ml-py
evo
#plotly
#gdown
#packaging
#torch
#torchvision
#imcui